<div class='page'>

  <h1 class='title'>HereMeNow</h1></br>

  <h3 class='description'>"HereMeNow" is an app made for the die-hard musical fan. Visiting a different city? With "HereMeNow", you can plug in your location and receive an awesome playlist based on local artists!
  </h3>

  <h5 class='beta'><strong>COMING SOON:</strong> Don't want to give your location (or mapping services are unavailable in your area)? Never fear! "HereMeNow" will auto-generate a globe-trotting mix of international pop!</h5>

  <a href='/locations' class="pure-button">Select Your Current Location</a>
  </br>
  </br>
  <a href="http://www.spotify.com" class="pure-button">Login with your Spotify Account</a>
  </br>
  </br>

  <a href='https://www.spotify.com/us/login/?forward_url=%2Fus%2Faccount%2Foverview%2F' class="pure-button">Don't have a Spotify account? Create one here!</a>

  <%= form_tag "#", class: "pure-form" do %>
    <fieldset>
      <legend class="white-text">Sign up below to recieve updates and information about HereMeNow!</legend>
      <%= label_tag :email %>
      <%= email_field_tag :email %>
      <%= submit_tag "Sign up for our list!", class: "pure-button pure-button-primary" %>
    </fieldset>
  <% end %>

  <%#= button_to 'Select Your Current Location', '/locations'%>
</div>

<%= javascript_include_tag "email-sign-up" %>
