<h2 class='playlist'>Random Playlist for <%= @artist_city.capitalize %></h2>

<ul class='list'>
  <% @songs.each do |song| %>
    <li>
      <a href="<%= song[:song] %>"><%= song[:artist] %></a>
    </li>
  <% end %>
</ul>

<% @songs.each do |song| %>
  <audio id="music" preload="true">
    <source src="<%= song[:song] %>">
      <source src="<%= song[:song] %>">
  </audio>
  <div id="audioplayer">
    <button id="pButton" class="play" onclick="play()"></button>
  <div id="timeline">
    <div id="playhead"></div>
<% end %>

<div class='menu'>
  <a href='/'>Return To Home Page</a></br>
  <a href="/locations">Return To Search Page</a>
</div>
